/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
#spendingLabel {
	-fx-font-size: 14pt;
	-fx-font-weight: bold;
}

#loan {
	-fx-font-size: 14pt;
	-fx-font-weight: bold;
}